@model Chess.Models.ChessModel

<link href="~/Content/chess.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<table id="chessBoard">
    @{ 
        for (int i = 1; i <= 8; i++)
        {
            <tr>
                @for (int j = 1; j <= 8; j++)
                {
                    <td id="@i@j" class="@((i + j) % 2 == 0 ? "white" : "black")">
                        <span></span>
                        @foreach (var p in Model.allPieces)
                        {
                            if (p.row == i && p.column == j)
                            {
                                <div id="@p.id" class="@p.color@p.name" data-color="@p.color"></div>
                            }
                        }
                    </td>
                }
            </tr>
        }
    }
</table>